.footer{
    width: 100vw;
    align-items: baseline;
    padding: 0 5rem;
    background-color: black;
    color: white;
    padding-bottom: 2rem;;
}

.footermenu {
  display: flex;
  /* justify-content: centre; */
  flex-wrap: wrap;
  /* max-width: 30rem; */
}

.footercontentabout {
  margin: 0.5rem;
  padding-right: 10px;
  max-width: 60rem;
  /* text-align: center; */
  /* align-self: center; */
  /* background-color: azure; */
}

.footercontentabout a, 
.footercontentothers a
{
  color:var(--off-white);
  font-family: 'Josefin Sans', sans-serif;
  font-size: var(--font-size-md);
  list-style:georgian;
  /* text-align: left; */
}

.footercontentothers {
  margin: 0.5rem;
  padding-left: 5rem;
  width: auto;
  min-width: 20rem;
}

.fcopy{
  width: 100%;
  text-align: center;
}
.icons__main{
  display: flex;
  margin: 1rem;
  justify-content: center;
}

.icons_images{
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  margin: 0 1rem;
}

.image__icon{
  width: auto;
}

@media (max-width: 768px) {
  .footer {
    padding-left: 1rem;
    padding-top: 1rem;
    color: white;
  }
  /* .footermenu{
    display: block;
  } */

  .footercontentabout {
    max-width: 30rem;
  }

  .footercontentothers{
    padding-left: 0rem;
    padding-top: 1rem;
    color: white;
  }

  .icons_images{
    justify-content: center;
    margin: 0 0.5rem;
    /* background-color: aqua; */
}

    .icons__main{
        margin: 0;
    }
    .fcopy{
        margin-left: 2rem;;
    }
}