.users {
    /* width: 95%;
    max-width: 100rem;
    margin: var(--size-6) auto; */
    list-style: none;
    /* margin: 0 auto; */
    padding: 0;
    width: 95vw;
    /* width: 40rem; */
    /* This width is important for the wrapping around of the indiv
    cards */
    max-width: 150rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 1rem;
  }

  .users h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: var(--font-size-md);
    margin: 1rem;
  }

  @media (max-width: 767px) {
    .users {
      margin-left:-5rem;
    } 
  }