.post {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    /* background-color: rebeccapurple; */
    /* display:flex; */
    /* text-align: center; */
    width: 18rem;
    height: 20rem;
    justify-content: space-between;
  }
  
  .image {
    width: 10rem;
    max-height: 20rem;
    overflow: hidden;
  }
  
  .image img {
    object-fit: cover;
  }
  
  .content {
    padding: var(--size-4);
    height: 100%;
    border: 1px solid green;
  }
  
  .content h3 {
    margin: 0;
    color: green;
    padding: 10px 0;
  }
  
  .content time {
    font-style: italic;
    color: var(--color-grey-300);
  }
  
  .content p {
    line-height: var(--size-6);
    /* color: green; */
    padding: 0.5rem;
  }

  .content__button{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .title{
    width: auto;
    height: 4rem;
    background-color: #c5e1a5;
    align-self: center;
    text-align: center;
  }

  .im__popup{
    z-index: 999;
  }

  .mi__popup{
    text-align: center;
  }
  @media (max-width: 768px) {
    .post{
      width: 20rem;
      margin: 0;
      display: block;
      /* background-color: yellow; */
    }

    .image {
      width: 20rem;
    }

    .content {
      width: auto;
      /* margin-top: 0.5rem ; */
      padding: 0 0.5rem;
    }

    .content h4 {
      font-size: var(--size-10);
    }

    .content p {
      color: green;
      font-size: 100;
    }
  }