@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Josefin+Sans:wght@200;400&display=swap");

html,
body {
  font-family: Oswald, Cardo;
  color: var(--black);
  width: 100vw;
  background-color: var(--off-white);
  /* color: var(--off-white);
  background-color: var(--dark); */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Dancing+Script,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: red;
  text-decoration: none;
  font-size: var(--font-size-lg); 
  font-family: 'Dancing Script', cursive;
}

* {
  box-sizing: border-box;
}

h1{
  color:red;
  font-family: 'Dancing Script', cursive;
  font-size: var(--font-size-xl);
}

h2{
  color: red;
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 0;
  font-size: var(--font-size-lg); 
}

h3, h4{
  color:red;
  font-family: 'Josefin Sans', sans-serif;
}

p{
  font-family: 'Josefin Sans', sans-serif;
  font-size: var(--font-size-mdbet);
}

@media (max-width: 768px) {
   a{
   font-size: var(--font-size-md); 
   /* color:aqua */
  }


  p{
    font-size: larger; 
   }

   h1{
    font-size: var(--font-size-lg); 
   }

   h2{
    font-size: var(--font-size-md);
   }

}
