html,
body {
  font-family: Oswald, Cardo;
  color: var(--dark);
  background-color: var(--off-white);
  /* color: var(--off-white);
  background-color: var(--dark); */
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
