.blogmain {
    margin: 0 3rem;
}

.blogtop {
    display: flex;
    grid-gap: 2rem;
}

.blog__bottom{
    text-align: center;
}

.blogmain__left{
    color: red;
    width: 28rem;
    border: 1px solid blue;
    text-align: center;
}

.blogmain__left h3{
    margin: 1rem 0;
}

.blogmain__right{
    width: auto;
}

.image {
    width: 100%;
    height: auto;
    max-width: 30rem;
    max-height: 30rem;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:top;
}

@media (max-width: 767px) {
    .blogmain__left {
        width: 30rem;
        height: 30rem;
    }

    .blogtop{
        display: block;
    }

    .blogmain{
        margin: 0;
    }
}