.blogmain {
    margin: 0 4rem;
}

.blogtop {
    display: flex;
    grid-gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.blog__bottom{
    text-align: center;
}

.blogmain__left{
    color: red;
    width: 28rem;
    text-align: center;
}


.blogmain__right{
    max-width: 64rem;
    /* background-color: antiquewhite; */
    padding: 0 1rem;
}

.blogmain__right h3{
    text-align: center;
    margin-top: 1rem;
    padding-top: 0.5rem;
}

.image {
    width: 100%;
    height: auto;
    max-width: 30rem;
    max-height: 30rem;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:top;
}

@media (max-width: 767px) {
    .image {
        width: 20rem;
        height: 20rem;
    }

    .blogmain__left {
        width: 20rem;
        margin: 0;
        padding:0;
    }

    .blogtop{
        width: 24rem;
        margin:0;
        padding: 0;
    }

    .blogmain{
        margin: 0;
        padding:0;
    }

    .blogmain__right{
        width: 24rem;
        max-width: 24rem;
        padding:0 0.5rem;
    }

}